.input-form form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-input{
  max-width: 45%;
  min-width: 300px;
  border-radius: 3px;
  padding: 8px;
  border: 3px solid rgba(128, 128, 128, 0.411);
  margin: 10px 0px;
  display: block;
}
.select{
  max-width: 45%;
  min-width: 320px;
  border-radius: 3px;
  border: 3px solid rgba(128, 128, 128, 0.411);
  margin: 10px 0px;
}
.form-submit{
  max-width: 45%;
  background-color: black;
  color: white;
  font-weight: 700;
  font-size: 16px;
  min-width: 320px;
  border-radius: 3px;
  padding: 8px;
  border: 3px solid rgba(128, 128, 128, 0.411);
  margin: 10px 0px;
}
.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper{
  flex-grow: 1;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pending{
  color: white;
  background-color: red;
  font-weight: 700;
  padding: 7px;
  width: 95px;
  border: none;
  cursor: pointer;
}
.done{
  color: white;
  background-color: green;
  font-weight: 700;
  padding: 7px;
  width: 95px;
  cursor: pointer;
  border: none;
}
.delete{
  color: white;
  background-color: red;
  font-weight: 700;
  padding: 7px;
  width: 45px;
  cursor: pointer;
  border: none;
}
.overflow{
  overflow-x: scroll;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
}

@media screen and (max-width: 560px) {
  .start {
    justify-content: start;
  }
}
.flex1{
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 10px auto;
}
.item {
  width: 150px;
  height: 30px;
  margin: 0 5px;
}
.selected{
  list-style-type: none;
}
.selected li{
  color: red;
}
.selected-dev{
  position: fixed;
  top: 100px;
  right: 50px;
  width: 250px;
  height: 50px;
}
.btn-dev{
  text-align: center;
  height: 40px;
}